<% if @restaurant.errors.any? %>
<div id ='error-list'>
	<h2>Errors in submission:</h2>	
	<ul>
		<%@restaurant.errors.full_messages.each do |message|%>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<% if user_signed_in? %>
<%= form_for @restaurant do |f| %>

<%= f.label :name %>
<%= f.text_field :name%>

<%= f.label :cuisine %>
<%= f.text_field :cuisine %>

<%= f.submit %>
<% end %>

<% end %>
