<% if @restaurants.any? %>
<ul>
	<% @restaurants.each do |r| %>
	<li><%= r.name %>
		<% r.reviews.each do |review| %>
		<%= review.thoughts %> (<%= review.rating %>)
		<% end %>
		<%= link_to "Edit #{r.name}", edit_restaurant_path(r.id) %>
		<%= link_to "Delete #{r.name}", restaurant_path(r.id), method: :delete %>
		<%= link_to "Review #{r.name}", new_restaurant_review_path(r.id) %>
	</li>
	<% end %>
</ul>
<% else %>

<h1>No restaurants yet.</h1>

<% end %>